[submodule "3rd-party/filesystem"]
	path = 3rd-party/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "3rd-party/gflags"]
	path = 3rd-party/gflags
	url = https://github.com/gflags/gflags
[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw
[submodule "3rd-party/glm"]
	path = 3rd-party/glm
	url = https://github.com/g-truc/glm
[submodule "3rd-party/glog"]
	path = 3rd-party/glog
	url = https://github.com/google/glog
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rd-party/stb"]
	path = 3rd-party/stb
	url = https://github.com/nothings/stb
[submodule "3rd-party/glad"]
	path = 3rd-party/glad
	url = https://github.com/Dav1dde/glad
[submodule "3rd-party/SDL"]
	path = 3rd-party/SDL
	url = https://github.com/SDL-mirror/SDL
[submodule "3rd-party/assimp"]
	path = 3rd-party/assimp
	url = https://github.com/assimp/assimp
